.myUl {
    border: 4px double black;
    background: rgb(255, 255, 255);
    padding: 10px;
    list-style-type: none;
}

.img {
    position: relative;
    left: 0;
    height: 10%;
    width: 10%;
}

.myUl {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/95/02/4457eb80ad49f07.jpg");
    background-size: cover;
}