.myLi:first-letter {
    text-transform: uppercase;
}

ul {
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    padding: 10px;
    height: 50%;
    width: 25%;
    list-style-type: none;
}

li {
    line-height: 150%;
    cursor: pointer;
}

input {
    width: 200px;
    height: 15px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #999;
    font-size: 16px;
    font-family: Tahoma;
}

.myUl {
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/95/02/4457eb80ad49f07.jpg");
    background-size: cover;
}