<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div style="text-align:center">

    <h1>
      <button (click)="faves()">FAVES</button>
    </h1>

    <h2>Use the form below to search for houses to buy. You can search by place-name,postcode,on click 'My location', to search
      in your current location.</h2>
    <br>

    <input myInput placeholder="city" [formControl]="inputControl" />
    <br>
    <div class="form-control-feedback" *ngIf="inputControl.errors">
      <p class="inValid" *ngIf="inputControl.errors.pattern">Only english</p>
    </div>


    <button (click)="go()">Go</button>

    <h3>{{searchTitle}}</h3>

    <div *ngIf="this.searchRequest.length">

      <ul class="myUl">
        <li (click)="currentPlace(itemRequest)" class="myLi" *ngFor="let itemRequest of searchRequest">
          {{itemRequest?.location}} ({{itemRequest?.total_results}})
        </li>
      </ul>
    </div>
  </div>
</body>